name: New release

on:
  push:
    tags:
    - 'v*'

jobs:

  new-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v2

    - uses: ncipollo/release-action@v1
      with:
        prerelease: true
      #   artifacts: "release.tar.gz,foo/*.txt"
      #   bodyFile: "body.md"

